
@font-face {
    font-family:"Graphik-Thin";
    src:url("Graphik-Thin.woff2") format("woff2"),url("Graphik-Thin.woff") format("woff"),url("Graphik-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        