
@font-face {
    font-family:"Graphik-Medium";
    src:url("Graphik-Medium.woff2") format("woff2"),url("Graphik-Medium.woff") format("woff"),url("Graphik-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        