
.idyll-text-container img {
  /* border: 1px solid black; */
}
.idyll-text-container canvas {
  border: 1px solid black;
}

.image-editor-container {
  font-family: 'Graphik Web';
}

.image-editor {
  display: flex;
}
.byte-editor {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ace-editor {
  flex-grow: 1;
  min-height: 200px;
}
.image-viewer {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-viewer canvas {
  max-width:100%;
  /* width: 100%;
  height: 100%; */
}

.replace-link {
  cursor:pointer;
  color: #4801FF;
  text-decoration: underline;
}

.replace-link:hover {
color: #4801FF;
}

.reference {
  cursor:pointer;
  color: #4801FF;
  text-decoration: underline;
}

@media all and (max-width: 1000px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }
}


@media all and (max-width: 800px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }

  .image-editor {
    flex-direction: column;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.subsample-image {
  text-align: center;
}
.subsample-image p {
  margin-top:0px;
}

.subsample-image canvas {
  width: 200px;
}