
.idyll-text-container img {
  border: 1px solid black;
}
.idyll-text-container canvas {
  border: 1px solid black;
}

.image-editor {
  display: flex;
}
.byte-editor {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ace-editor {
  flex-grow: 1;
  min-height: 200px;
}
.image-viewer {
  width:100%;
}

.image-viewer canvas {
  width: 100%;
  height: 100%;
}

.replace-link {
  cursor:pointer;
  color: #4801FF;
  text-decoration: underline;
}

.replace-link:hover {
color: #4801FF;
}

button {
  background: #4801FF;
  font-family: Silkscreen;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  padding: 1em 2em;
  cursor: pointer;
}

@media all and (max-width: 1000px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }
}


@media all and (max-width: 800px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }

  .image-editor {
    flex-direction: column;
  }
}