
@font-face {
    font-family:"Graphik-LightItalic";
    src:url("Graphik-LightItalic.woff2") format("woff2"),url("Graphik-LightItalic.woff") format("woff"),url("Graphik-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        