
@font-face {
    font-family:"Graphik-Super";
    src:url("Graphik-Super.woff2") format("woff2"),url("Graphik-Super.woff") format("woff"),url("Graphik-Super.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        