
@font-face {
    font-family:"NoeText";
    src:url("NoeText.woff2") format("woff2"),url("NoeText.woff") format("woff"),url("NoeText.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        