
@font-face {
    font-family:"Graphik-SemiboldItalic";
    src:url("Graphik-SemiboldItalic.woff2") format("woff2"),url("Graphik-SemiboldItalic.woff") format("woff"),url("Graphik-SemiboldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        