
@font-face {
    font-family:"Graphik-ThinItalic";
    src:url("Graphik-ThinItalic.woff2") format("woff2"),url("Graphik-ThinItalic.woff") format("woff"),url("Graphik-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        