
@font-face {
    font-family:"Graphik-BlackItalic";
    src:url("Graphik-BlackItalic.woff2") format("woff2"),url("Graphik-BlackItalic.woff") format("woff"),url("Graphik-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        