
@font-face {
    font-family:"NoeText-BlackItalic";
    src:url("NoeText-BlackItalic.woff2") format("woff2"),url("NoeText-BlackItalic.woff") format("woff"),url("NoeText-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        