
@font-face {
    font-family:"Graphik-Black";
    src:url("Graphik-Black.woff2") format("woff2"),url("Graphik-Black.woff") format("woff"),url("Graphik-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        