
@font-face {
    font-family:"NoeText-SemiBold";
    src:url("NoeText-SemiBold.woff2") format("woff2"),url("NoeText-SemiBold.woff") format("woff"),url("NoeText-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        