
@font-face {
    font-family:"Graphik-Light";
    src:url("Graphik-Light.woff2") format("woff2"),url("Graphik-Light.woff") format("woff"),url("Graphik-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        