
@font-face {
    font-family:"Graphik-Bold";
    src:url("Graphik-Bold.woff2") format("woff2"),url("Graphik-Bold.woff") format("woff"),url("Graphik-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        