
@font-face {
    font-family:"Graphik-ExtralightItalic";
    src:url("Graphik-ExtralightItalic.woff2") format("woff2"),url("Graphik-ExtralightItalic.woff") format("woff"),url("Graphik-ExtralightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        