
@font-face {
    font-family:"Graphik-MediumItalic";
    src:url("Graphik-MediumItalic.woff2") format("woff2"),url("Graphik-MediumItalic.woff") format("woff"),url("Graphik-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        