
@font-face {
    font-family:"Graphik-SuperItalic";
    src:url("Graphik-SuperItalic.woff2") format("woff2"),url("Graphik-SuperItalic.woff") format("woff"),url("Graphik-SuperItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        