
@font-face {
    font-family:"Graphik-Extralight";
    src:url("Graphik-Extralight.woff2") format("woff2"),url("Graphik-Extralight.woff") format("woff"),url("Graphik-Extralight.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        