
@font-face {
    font-family:"Graphik-Semibold";
    src:url("Graphik-Semibold.woff2") format("woff2"),url("Graphik-Semibold.woff") format("woff"),url("Graphik-Semibold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        