
@font-face {
    font-family:"Graphik-BoldItalic";
    src:url("Graphik-BoldItalic.woff2") format("woff2"),url("Graphik-BoldItalic.woff") format("woff"),url("Graphik-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        